## ERD Schema

![erd.svg](assets/erd.svg)

## Setting Postgres

In [63]:
# enable sql commands on jupyter notebook
!pip install ipython-sql

# to connect to a postgreSQL database: 
!pip install psycopg2-binary

Requirement already satisfied: ipython-sql in g:\projects\sql\library\venv\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in g:\projects\sql\library\venv\lib\site-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: ipython in g:\projects\sql\library\venv\lib\site-packages (from ipython-sql) (8.26.0)
Requirement already satisfied: sqlalchemy>=2.0 in g:\projects\sql\library\venv\lib\site-packages (from ipython-sql) (2.0.32)
Requirement already satisfied: sqlparse in g:\projects\sql\library\venv\lib\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in g:\projects\sql\library\venv\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in g:\projects\sql\library\venv\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in g:\projects\sql\library\venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in g:\projects\sql\library\venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in g:\projects\sql\library\venv\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in g:\projects\sql\library\venv\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in g:\projects\sql\library\venv\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in g:\projects\sql\library\venv\lib\site-packages (from ipython->ipython-sql) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in g:\projects\sql\library\venv\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in g:\projects\sql\library\venv\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in g:\projects\sql\library\venv\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in g:\projects\sql\library\venv\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in g:\projects\sql\library\venv\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in g:\projects\sql\library\venv\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in g:\projects\sql\library\venv\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in g:\projects\sql\library\venv\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in g:\projects\sql\library\venv\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: psycopg2-binary in g:\projects\sql\library\venv\lib\site-packages (2.9.9)

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [51]:
# activate environment
%load_ext sql

# connect to environment
%sql postgresql://postgres:1234@localhost:5432/library

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [52]:
# activate environment
%load_ext sql

# connect to environment
%sql postgresql://postgres:1234@localhost:5432/library

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Tables creation

In [55]:
%%sql

-- library
drop table if exists library cascade;
create table library
(
    id          bigserial primary key,
    name        varchar(255) unique not null,
    location    point               not null,
    description text                not null default '',
    website     varchar(255) check ( website ~* '^https?://[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}(/.*)?$' ),
    phone       varchar(20)         not null,
    email       varchar(100)        not null
);

 * postgresql://postgres:***@localhost:5432/library
Done.
Done.

[]

In [56]:
%%sql

-- room
drop type if exists access_method cascade;
create type access_method as enum ('member card', 'provisional pass');

drop table if exists room cascade;
create table room
(
    id            varchar(20) primary key,
    id_library    int                 not null references library (id),
    name          varchar(255) unique not null,
    floor         int                 not null,
    description   text                not null default '',
    access_method access_method,
    phone         varchar(20)         not null,
    email         varchar(100)        not null,
    constraint id_room_check check (id like '___ ____-____-_')
);

 * postgresql://postgres:***@localhost:5432/library
Done.
Done.
Done.
Done.

[]

In [57]:
%%sql

-- collection
drop type if exists collection_type cascade;
create type collection_type as enum ('special', 'general');

drop table if exists collection cascade;
create table collection
(
    id          bigserial primary key,
    id_room     varchar(20) references room (id),
    name        varchar(255) unique not null,
    description text,
    type        collection_type     not null default ('general'),
    phone       varchar(20)         not null,
    email       varchar(100)        not null
);

 * postgresql://postgres:***@localhost:5432/library
Done.
Done.
Done.
Done.

[]

In [58]:
%%sql

-- members
drop type if exists category cascade;
create type category as enum ('researcher', 'professional', 'student', 'foreign');

drop table if exists member cascade;
create table member
(
    id       bigserial primary key,
    name     varchar(100) not null,
    age      int,
    country  varchar(100) not null,
    category category
);

drop table if exists researcher cascade;
create table researcher
(
    id_member int unique references member (id)
);

drop table if exists professional cascade;
create table professional
(
    id_member    int unique references member (id),
    organization varchar(100) not null
);

drop table if exists student cascade;
create table student
(
    id_member int references member (id),
    school    varchar(100) not null
);

 * postgresql://postgres:***@localhost:5432/library
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [59]:
%%sql

-- documents
drop type if exists format cascade;
create type format as enum ('physical', 'digital');

drop type if exists document_type cascade;
create type document_type as enum (
    'manuscript',
    'map',
    'picture',
    'paint',
    'media',
    'music',
    'reference',
    'magazine',
    'book');

drop table if exists document cascade;
create table document
(
    id                bigserial primary key,
    title             varchar(255) unique not null,
    created_at        date,
    editorial         varchar(255),
    publication_place varchar(255),
    language          varchar(2),
    format            format,
    subject           varchar(255),
    summary           text,
    is_patrimony      bool,
    note              text,
    type              document_type
);

drop table if exists document_collection cascade;
create table document_collection
(
    id_collection int references collection (id),
    id_document   int references document (id)
);

drop table if exists manuscript cascade;
create table manuscript
(
    id_document int references document (id),
    period      varchar(100)
);

drop type if exists map_type cascade;
create type map_type as enum ('topographic', 'road', 'thematic', 'geologic', 'political', 'physical');

drop table if exists map cascade;
create table map
(
    id_document int references document (id),
    height      int not null,
    width       int not null,
    scale       varchar(20),
    type        map_type
);

drop table if exists picture cascade;
create table picture
(
    id_document int references document (id),
    height      int not null,
    width       int not null
);

drop type if exists technique_type cascade;
create type technique_type as enum ('oil', 'acrylic', 'watercolor', 'pastel', 'caustic', 'fresco', 'gouache', 'ink wash', 'spray');

drop table if exists paint cascade;
create table paint
(
    id_document int references document (id),
    height      int not null,
    width       int not null,
    technique   technique_type
);


drop table if exists media cascade;
create table media
(
    id_document int references document (id),
    genre       varchar(100),
    director    varchar(100),
    producer    varchar(100),
    duration    int -- duration in seconds
);

drop table if exists music cascade;
create table music
(
    id_document int references document (id),
    genre       varchar(100),
    performer   varchar(100),
    composer    varchar(100),
    duration    int -- duration in seconds
);

drop table if exists reference cascade;
create table reference
(
    id_document int references document (id),
    serial      int
);

drop table if exists magazine cascade;
create table magazine
(
    id_document int references document (id),
    editor      varchar(100),
    "issn"      varchar(20) check ( issn like '____-____' )
);

drop table if exists book cascade;
create table book
(
    id_document int references document (id),
    genre       varchar(50),
    "issn"      varchar(20) check ( issn like '____-____' ),
    "isbn"      varchar(20)
);

 * postgresql://postgres:***@localhost:5432/library
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [60]:
%%sql

-- author
drop table if exists author cascade;
create table author
(
    id          bigserial primary key,
    name        varchar(100) not null,
    country     varchar(100) not null,
    description text         not null default ''
);

drop table if exists author_document cascade;
create table author_document
(
    id_author   int references author (id),
    id_document int references document (id)
);

 * postgresql://postgres:***@localhost:5432/library
Done.
Done.
Done.
Done.

[]

In [ ]:
%%sql

-- services
drop type if exists service_type cascade;
create type service_type as enum (
    'loan', 'heritage preservation', 'cultural event',
    'consultation in a room', 'bibliographic references');

drop table if exists service cascade;
create table service
(
    id          bigserial primary key,
    description text         not null default '',
    type        service_type not null
);

drop table if exists service_room cascade;
create table service_room
(
    id_service int references service (id),
    id_room    varchar(20) references room (id)
);

drop table if exists service_member cascade;
create table service_member
(
    id_service int references service (id),
    id_member  int references member (id)
);

In [61]:
%%sql

-- loan
drop type if exists status cascade;
create type status as enum ('requested','approved', 'in-loan', 'renovated' ,'returned', 'non-returned', 'lost');

drop type if exists loan_type cascade;
create type loan_type as enum ('loan_member', 'loan_library');

drop table if exists loan cascade;
create table loan
(
    id          bigint primary key,
    id_service  int references service (id),
    id_document int references document (id),
    term        int,
    start_date  date      not null,
    status      status    not null,
    type        loan_type not null
);

drop table if exists loan_researcher cascade;
create table loan_researcher
(
    id_loan       int references loan (id),
    id_researcher int references researcher (id_member)
);

drop table if exists loan_professional cascade;
create table loan_professional
(
    id_loan         int references loan (id),
    id_professional int references professional (id_member)
);

drop table if exists loan_library cascade;
create table loan_library
(
    id_loan     int references loan (id),
    id_library1 int references library (id),
    id_library2 int references library (id)
);

 * postgresql://postgres:***@localhost:5432/library
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [62]:
%%sql

drop type if exists penalty_type cascade;
create type penalty_type as enum ('late fees', 'suspension of borrowing privileges', 'replacement cost', 'processing fee');

drop table if exists fine cascade;
create table fine
(
    id      bigserial primary key,
    id_loan int references loan (id),
    penalty penalty_type not null,
    fee     float
);

 * postgresql://postgres:***@localhost:5432/library
Done.
Done.
Done.
Done.

[]