# Populate Tables

## Setting Postgres

In [ ]:
# enable sql commands on jupyter notebook
!pip install ipython-sql

# to connect to a postgreSQL database: 
!pip install psycopg2-binary

# pandas
!pip install Faker

In [5]:
# activate environment
%load_ext sql

# connect to environment
%sql postgresql://postgres:1234@localhost:5432/library

In [6]:
# activate environment
%load_ext sql

# connect to environment
%sql postgresql://postgres:1234@localhost:5432/library

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Generate Syntethic Data

In [7]:
conn = psycopg2()

 * postgresql://postgres:***@localhost:5432/library
0 rows affected.

[]

In [8]:
from faker import Faker
fake = Faker()

In [43]:

def generate_library():
    loc = fake.location_on_land()

    return {
        'name': f'Library {fake.name()}',
        'location': (loc[0], loc[1]),
        'description': fake.text(),
        'website': fake.url(),
        'phone': fake.phone_number(),
        'email': fake.email()
    }

data = []
for i in range(1000):
    data.append(generate_library())

In [44]:
from pandas import DataFrame

df = DataFrame(data)
df.to_sql('library', con=conn, if_exists='replace', index=False)

,name,location,description,website,phone,email
0,Library Brooke Rodriguez,"(7.06273, -1.4001)",Field discussion inside act major other sport ...,https://gonzalez.com/,8995896150,sydney57@example.org
1,Library Susan Wall,"(-31.4488, -60.93173)",Smile leader out after. Number standard think ...,https://bailey.biz/,+1-468-454-7527x016,eric20@example.com
2,Library Kayla Friedman,"(51.65333, 5.2875)",Two long appear growth beyond miss green. Let ...,http://moore.info/,001-976-494-4245x79001,jacobshaw@example.org
3,Library Samuel Young,"(33.52253, -117.70755)",Leader laugh red team easy price. House player...,https://hall.biz/,+1-707-524-9049x02941,daughertybrooke@example.org
4,Library Joseph Williams,"(-6.8, 39.25)",Most property support story young fill. Author...,https://www.roberts.com/,001-263-326-8519x4726,jcharles@example.com
...,...,...,...,...,...,...
995,Library Adrienne Clark,"(45.53929, -122.38731)",Pattern once ask fill role chair.\nMight subje...,https://kemp.com/,+1-579-893-1876,rodriguezmelissa@example.com
996,Library Samuel Dawson,"(58.23583, 92.48278)",Building six market else feeling picture. Best...,http://www.moore.net/,(354)611-3413,carlaturner@example.net
997,Library Kenneth Miller,"(33.4425, 129.96972)",Than ahead term range loss production. Everyth...,http://www.black.net/,001-356-403-6000x121,mooremax@example.net
998,Library Harry Johnson,"(-2.90055, -79.00453)",Much event remain employee about statement rea...,https://www.chang-carrillo.com/,821.734.4005x187,kramersarah@example.net
999,Library Chad Krueger,"(8.56697, 123.33471)",Ok TV environment much past event. With federa...,https://www.cook.net/,001-950-261-7991x573,craiggabriel@example.com